*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-weight: bold;
}

.container{
    width: 50%;
    margin: auto;
    background-color: honeydew;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px 0;
}

.single-match{
    margin: 10px 0;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.teams{
    color: red;
    margin-right: 30px;
    
}